WS_SOAP_Java_Client/src/main/resources/wsdl/DocLitWrap/DocLitWrap_Params_ServiceClass.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<xs:schema xmlns:tns="http://wrap.lit.doc.service.ws.pg.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://wrap.lit.doc.service.ws.pg.com/">

	<xs:element name="createUser" type="tns:createUser"></xs:element>

	<xs:element name="createUserResponse" type="tns:createUserResponse"></xs:element>

	<xs:complexType name="createUser">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="arg1" type="xs:int"></xs:element>
			<xs:element name="arg2" type="xs:double" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="createUserResponse">
		<xs:sequence>
			<xs:element name="return" type="tns:userBo" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="userBo">
		<xs:sequence>
			<xs:element name="age" type="xs:int"></xs:element>
			<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="salary" type="xs:double" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>