WS_SOAP_Service_Simple/src/main/resources/wsdl/CalculatorService/CalculatorServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://calculator.demo.service.ws.pg.com/" name="CalculatorServiceImplService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://calculator.demo.service.ws.pg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://calculator.demo.service.ws.pg.com/" schemaLocation="CalculatorServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="squareOf">
    <part name="squareOf" element="tns:squareOf"/>
  </message>
  <message name="squareOfResponse">
    <part name="squareOfResponse" element="tns:squareOfResponse"/>
  </message>
  <message name="squareRootOf">
    <part name="squareRootOf" element="tns:squareRootOf"/>
  </message>
  <message name="squareRootOfResponse">
    <part name="squareRootOfResponse" element="tns:squareRootOfResponse"/>
  </message>
  <message name="convertToHex">
    <part name="convertToHex" element="tns:convertToHex"/>
  </message>
  <message name="convertToHexResponse">
    <part name="convertToHexResponse" element="tns:convertToHexResponse"/>
  </message>
  <message name="convertToBinary">
    <part name="convertToBinary" element="tns:convertToBinary"/>
  </message>
  <message name="convertToBinaryResponse">
    <part name="convertToBinaryResponse" element="tns:convertToBinaryResponse"/>
  </message>
  <portType name="CalculatorService">
    <operation name="squareOf">
      <input message="tns:squareOf"/>
      <output message="tns:squareOfResponse"/>
    </operation>
    <operation name="squareRootOf">
      <input message="tns:squareRootOf"/>
      <output message="tns:squareRootOfResponse"/>
    </operation>
    <operation name="convertToHex">
      <input message="tns:convertToHex"/>
      <output message="tns:convertToHexResponse"/>
    </operation>
    <operation name="convertToBinary">
      <input message="tns:convertToBinary"/>
      <output message="tns:convertToBinaryResponse"/>
    </operation>
  </portType>
  <binding name="CalculatorServiceImplPortBinding" type="tns:CalculatorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="squareOf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="squareRootOf">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="convertToHex">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="convertToBinary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CalculatorServiceImplService">
    <port name="CalculatorServiceImplPort" binding="tns:CalculatorServiceImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

