WS_SOAP_Client/src/main/resources/wsdl/HelloMTOM/HelloMTOM_DOC.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://hellomtom.mtom.service.ws.pg.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://hellomtom.mtom.service.ws.pg.com/">

<xs:element name="uploadImg" type="tns:uploadImg"/>

<xs:element name="uploadImgResponse" type="tns:uploadImgResponse"/>

<xs:complexType name="uploadImg">
<xs:sequence>
<xs:element name="arg0" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadImgResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>