WS_SOAP_Java_Client/src/main/resources/wsdl/DocLitBare/DocLitBareServiceClassService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.6 in JDK 6. -->
<xs:schema xmlns:tns="http://bare.lit.doc.service.ws.pg.com/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://bare.lit.doc.service.ws.pg.com/">

	<xs:element name="getUserDetails" nillable="true" type="tns:userBo" />

	<xs:element name="getUserDetailsResponse" nillable="true"
		type="tns:userBo" />

	<xs:element name="setUserDetailsNoResp" nillable="true"
		type="tns:userBo" />

	<xs:complexType name="userBo">
		<xs:sequence>
			<xs:element name="age" type="xs:int" />
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="salary" type="xs:double" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>