WS_SOAP_Client/src/main/resources/wsdl/Calculator/CalculatorServiceImplService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculator.demo.service.ws.pg.com/">

<xs:element name="convertToBinary" nillable="true" type="xs:string" />

<xs:element name="convertToBinaryResponse" nillable="true" type="xs:string" />

<xs:element name="convertToHex" nillable="true" type="xs:string" />

<xs:element name="convertToHexResponse" nillable="true" type="xs:string" />

<xs:element name="squareOf" nillable="true" type="xs:string" />

<xs:element name="squareOfResponse" nillable="true" type="xs:string" />

<xs:element name="squareRootOf" nillable="true" type="xs:string" />

<xs:element name="squareRootOfResponse" nillable="true" type="xs:string" />
</xs:schema>