WS_SOAP_Client/src/main/resources/wsdl/Calculator/CalculatorServiceImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 
	JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 
	JAXWS/2.2. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://calculator.demo.service.ws.pg.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.demo.service.ws.pg.com/"
	name="CalculatorServiceImplService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://calculator.demo.service.ws.pg.com/"
				schemaLocation="./CalculatorServiceImplService.xsd" />
		</xsd:schema>
	</types>
	<message name="squareOf">
		<part name="squareOf" element="tns:squareOf" />
	</message>
	<message name="squareOfResponse">
		<part name="squareOfResponse" element="tns:squareOfResponse" />
	</message>
	<message name="squareRootOf">
		<part name="squareRootOf" element="tns:squareRootOf" />
	</message>
	<message name="squareRootOfResponse">
		<part name="squareRootOfResponse" element="tns:squareRootOfResponse" />
	</message>
	<message name="convertToHex">
		<part name="convertToHex" element="tns:convertToHex" />
	</message>
	<message name="convertToHexResponse">
		<part name="convertToHexResponse" element="tns:convertToHexResponse" />
	</message>
	<message name="convertToBinary">
		<part name="convertToBinary" element="tns:convertToBinary" />
	</message>
	<message name="convertToBinaryResponse">
		<part name="convertToBinaryResponse" element="tns:convertToBinaryResponse" />
	</message>
	<portType name="CalculatorService">
		<operation name="squareOf">
			<input
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/squareOfRequest"
				message="tns:squareOf" />
			<output
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/squareOfResponse"
				message="tns:squareOfResponse" />
		</operation>
		<operation name="squareRootOf">
			<input
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/squareRootOfRequest"
				message="tns:squareRootOf" />
			<output
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/squareRootOfResponse"
				message="tns:squareRootOfResponse" />
		</operation>
		<operation name="convertToHex">
			<input
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/convertToHexRequest"
				message="tns:convertToHex" />
			<output
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/convertToHexResponse"
				message="tns:convertToHexResponse" />
		</operation>
		<operation name="convertToBinary">
			<input
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/convertToBinaryRequest"
				message="tns:convertToBinary" />
			<output
				wsam:Action="http://calculator.demo.service.ws.pg.com/CalculatorService/convertToBinaryResponse"
				message="tns:convertToBinaryResponse" />
		</operation>
	</portType>
	<binding name="CalculatorServiceImplPortBinding" type="tns:CalculatorService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="squareOf">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="squareRootOf">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="convertToHex">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="convertToBinary">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="CalculatorServiceImplService">
		<port name="CalculatorServiceImplPort" binding="tns:CalculatorServiceImplPortBinding">
			<soap:address
				location="http://tfitdevdt87442:8080/WS_SOAP_Service_Simple/CalculatorServiceImplService" />
		</port>
	</service>
</definitions>